* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --headerColor:#FFFFFF;
    --borderColor:#FF6E00;
    --color:#0A0A0A;
    --footer:#FFFFFF;
    --boxShadow:#C0C0C0;
    --backGroundColor:#F5F5F5;
}

.container {
    position: relative;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    color: var(--borderColor);
}

.googleForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.googleForm iframe {
    width: 100%;
}
a {
    text-decoration: none;
    color:var(--color);
}
.goToHome {
    position: fixed;
    top: 70px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--borderColor);
    border-radius:5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    background-color: var(--headerColor);
    box-shadow: 0px 0px 1px 1px var(--boxShadow);
}
